<link href="https://fonts.googleapis.com/css?family=Dancing+Script|Just+Another+Hand|Righteous" rel="stylesheet"
@import url('https://fonts.googleapis.com/css?family=Artifika');
p
{
	color:white;
	font-family:sans-serif;
	font-size:70px;
}
		body
			{
				background-color:black;
				margin:0;
				font-family:sans-serif;
				padding:0;
				color:white;
			
				background-size:cover;
			}
			#wrong{
				position: absolute;
	top: 60%;
	left: 35%;
	font-family: sans-serif;
	color: #fff;
	text-transform: uppercase;
	font-size: 1em;
	letter-spacing: 4px;
	overflow: hidden;
	background: linear-gradient(90deg,#000,#fff,#000);
	background-repeat: no-repeat;
	background-size: 80%;
	animation: ani 3s linear infinite; 
	-webkit-background-clip:text;
	
			}
		
		h1
						{
							color:orange;
							font-size: 40px;
							border-bottom: 6px solid #ff0000;
							margin-bottom: 50px;
							padding: 13px 0;
						}
		
		
.mv
{
	position: absolute;
	top: 10%;
	left: 90%;
	transform: translate(-50%,-50%);
	width: 200px;
	height:60px;
	text-align: center;
	transform-style: preserve-3d;
	perspective: 1000px;
	transform-origin: center center;

}
.mv span
{
	font-family:arial;
	position: absolute;
	top: 0;
	left: 0;
	width: 60%;
	height: 100%;
	display: block;
	text-align: center;
	line-height: 60px;
	font-size: 24px;
	background: rgba(255,255,255,.5) ;
	transform-style: preserve-3d;
	backface-visibility: hidden;
	border-radius: 30px;
	text-transform: uppercase;
	color: #000;
	transition: 1s;
}
.mv span.front
{
	transform:rotateX(0deg) translateZ(20px);
}

.mv:hover span.front
{
	transform:rotateX(-180deg) translateZ(20px);
}

.mv span.back
{
	transform:rotateX(180deg) translateZ(20px);
}

.mv:hover span.back
{
	transform:rotateX(0deg) translateZ(20px);
}
.mv span.center
{
	background: linear-gradient(to left,#ff0000,#ff0000);
}
.mv span.center:before
{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(to left,#ff0000,#ff0000);
	box-shadow:0 0 20px #ff0000;
	border-radius: 30px;
	transform: translateZ(-1px);	
}
.mv:hover span.center
{
	transform: rotateX(-180deg);
}


.link1
{
	position: absolute;
	top: 10%;
	left: 10%;
	transform: translate(-50%,-50%);
	width: 200px;
	height:60px;
	text-align: center;
	transform-style: preserve-3d;
	perspective: 1000px;
	transform-origin: center center;

}
.link1 span
{
	font-family:arial;
	position: absolute;
	top: 0;
	left: 0;
	width: 60%;
	height: 100%;
	display: block;
	text-align: center;
	line-height: 60px;
	font-size: 24px;
	background: rgba(255,255,255,.5) ;
	transform-style: preserve-3d;
	backface-visibility: hidden;
	border-radius: 30px;
	text-transform: uppercase;
	color: #000;
	transition: 1s;
}
.link1 span.front
{
	transform:rotateX(0deg) translateZ(20px);
}

.link1:hover span.front
{
	transform:rotateX(-180deg) translateZ(20px);
}

.link1 span.back
{
	transform:rotateX(180deg) translateZ(20px);
}

.link1:hover span.back
{
	transform:rotateX(0deg) translateZ(20px);
}
.link1 span.center
{
	background: linear-gradient(to left,#ff0000,#ff0000);
}
.link1 span.center:before
{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(to left,#ff0000,#ff0000);
	box-shadow:0 0 20px #ff0000;
	border-radius: 30px;
	transform: translateZ(-1px);	
}
.link1:hover span.center
{
	transform: rotateX(-180deg);
}

		
		#button6
			{
				position:absolute;
				top:70%;
				left:50%;
				transform:translate(-50%,-50%);
				background:none;
				color:#ccc;
				width: 100px;
				height:50px;
				border:1px solid lime;
				font-size: 18px;
				border-radius: 10px;
				transition: .6s;
				overflow: hidden;	
			}
		#button6:focus
			{
				outline: none;
			}

		#button6:before
			{
				content: '';
				display: block;
				position: absolute;
				background:yellow;
				width: 60px;
				left: 0;
				top: 0;
				opacity: .5s;
				filter: blur(30px);
				transform: translateX(-130px) skewX(-15deg);
			}
		#button6:after
			{
				content: '';
				display: block;
				position: absolute;
				background:lime;
				width: 30px;
				height: 100%;
				left: 30px;
				top: 0;
				opacity: .5s;
				filter: blur(30px);
				transform: translate(-100px) scaleX(-15deg);
			}
		#button6:hover
			{
				background: none;
				cursor: pointer;
			}

		#button6:hover:before
			{
				transform: translateX(-100px) skewX(-15deg);
				opacity: .6;
				transition: .7s
			}

		#button6:hover:after
			{
				transform: translateX(-100px) skewX(-15deg);
				opacity: 1;
				transition: .7s
				
			}
		
		
.container th{
	transform-origin: center center;
	padding:.4em;
	 font-family:"Comic Sans MS",cursive,sans-serif;
	  font-weight: bold;
	  font-size: 1.6em;
  text-align: center;
  font-size:1.5em;
  color: #fff;
}

.container td {
	font-family: 'Artifika', serif;
	color:white;
	  font-weight: normal;
	  font-size: 1em;
  -webkit-box-shadow: 0 2px 2px -2px #0E1119;
	   -moz-box-shadow: 0 2px 2px -2px #0E1119;
	        box-shadow: 0 2px 2px -2px #0E1119;
}
.container tr {
	 
	  font-size: 1em;
	  font-family: 'Lobster', cursive;
}

.container {
	position:absolute;
	top:48%;
	left:10%;
	  text-align: center;
	  overflow: hidden;
	  width: 80%;
	  margin: 0 auto;
  display: table;
  padding: 0 0 0 8em 0;
}

.container td, .container th {
	  padding-bottom: 2%;
	  padding-top: 2%;
  padding-left:0%;  
}

/* Background-color of the odd rows */
.container tr:nth-child(odd) {
	  background-color: #323C50;
}

/* Background-color of the even rows */
.container tr:nth-child(even) {
	  background-color: #2C3446;
}

.container th {
	  background-color: #000000;
	  
	  font-family:"Comic Sans MS",cursive,sans-serif;
}

.container td:first-child { color: white; }

.container tr:hover {
   background-color: #464A52;
-webkit-box-shadow: 0 6px 6px -6px #0E1119;
	   -moz-box-shadow: 0 6px 6px -6px #0E1119;
	        box-shadow: 0 6px 6px -6px #0E1119;
}

.container td:hover {
  background-color: #ffffff;
  color: #403E10;
  font-weight: bold;
  
  box-shadow: #7d8084 -1px 1px, #7d8084 -2px 2px, #7d8084 -3px 3px, #7d8084 -4px 4px, #7d8084 -5px 5px, #7F7C21 -6px 6px;
  transform: translate3d(6px, -6px, 0);
  
  transition-delay: 0s;
	  transition-duration: 0.4s;
	  transition-property: all;
  transition-timing-function: line;
}

@media (max-width: 800px) {
.container td:nth-child(4),
.container th:nth-child(4) { display: none; }
}

#dp {
	color:white;
	margin-bottom:20px;
	
	float:left;
	text-align:center;
}
#date{
	background:black;
		font-size:20px;
	box-shadow:0 5px 25px rgba(0,0,0,.5);
	color:white;
	padding:10px;
	width:250px;
	height:50px;
}
select
{
	outline:none;
	
	box-shadow:0 5px 25px rgba(0,0,0,.5);
	font-size:20px;
	background:black;
	color:white;
	padding:10px;
	width:250px;
	height:50px;
}
select:before
{
	content:'';
	position:absolute;
}
select:after
{
	background:silver;
}
			
			
			
			
			
			
			
			
		#hn
		{
			padding: 10px;
			color: black;
			border:1px solid #080808;
			border-collapse: collapse;
			font-size: 18px;
			font-family: Arial;
			background: #01579b;
				
	    }
		
		#fr
		{
			padding: 10px;
			color: black;
			border:1px solid #080808;
			border-collapse: collapse;
			font-size: 18px;
			font-family: Arial;
			background: #0288d1;		
	    }
		
		#sc
		{
			padding: 10px;
			color: black;
			border:1px solid #080808;
			border-collapse: collapse;
			font-size: 18px;
			font-family: Arial;
			background: #03a9f4;
		}
		
		#thi
		{
			padding: 10px;
			color: black;
			border:1px solid #080808;
			border-collapse: collapse;
			font-size: 18px;
			font-family: Arial;
			background:#b3e5fc
			}
		
		#fail
		{
			padding: 10px;
			color: black;
			border:1px solid #080808;
			border-collapse: collapse;
			font-size: 18px;
			font-family: Arial;
			background: #ff0000
			}




		#wrapper1{
	position:absolute;
	top:8%;
	left:90%;
  width:1vw;
  height:1vh;
  box-sizing:border-box;
  display:flex;
  align-items:center;
  justify-content:center;

}
.dlt
{
	font-size:1rem;
	 
}

.mscb1{
	 text-align: center;
  position:relative;
  text-decoration:none;
  color:#ffffff;
  letter-spacing:1px;
  font-size:2rem;
  box-sizing:border-box;
   
}
.mscb1 span{
  position:relative;
  box-sizing:border-box;
  display:flex;
  align-items:center;
  justify-content:center;
  width:100px;
  height:100px;
}
.mscb1 span:before{
  content:'';
  width:100%;
  height:100%;
  display:block;
  position:absolute;
  border-radius:100%;
  border:2px solid #ff6347;
  box-sizing:border-box;
  transition: all .85s cubic-bezier(0.25, 1, 0.33, 1);
  box-shadow: 0 30px 85px rgba(0,0,0,0.14), 0 15px 35px rgba(0,0,0,0.14);
}
.mscb1:hover span:before{
  transform:scale(0.8);
  box-shadow: 0 20px 55px rgba(0,0,0,0.14), 0 15px 35px rgba(0,0,0,0.14);
}
.mscb1 .dc1{
  opacity:0;
  animation: intro 1.6s;
  animation-fill-mode: forwards;
}
.mscb1 .dot1{
  width:8px;
  height:8px;
  display:block;
  background-color:#ff0000;
  border-radius:100%;
  position:absolute;
  transition: all .85s cubic-bezier(0.25, 1, 0.33, 1);
}
.mscb1 .dot1:nth-child(1){
  top:50px;
  left:50px;
  transform:rotate(-140deg);
  animation: swag1-out 0.3s;
  animation-fill-mode: forwards;
  opacity:0;
}
.mscb1 .dot1:nth-child(2){
  top:50px;
  right:50px;
  transform:rotate(140deg);
  animation: swag2-out 0.3s;
  animation-fill-mode: forwards;
  opacity:0;
}
.mscb1 .dot1:nth-child(3){
  bottom:50px;
  left:50px;
  transform:rotate(140deg);
  animation: swag3-out 0.3s;
  animation-fill-mode: forwards;
  opacity:0;
}
.mscb1 .dot1:nth-child(4){
  bottom:50px;
  right:50px;
  transform:rotate(-140deg);
  animation: swag4-out 0.3s;
  animation-fill-mode: forwards;
  opacity:0;
}
.mscb1:hover .dot1:nth-child(1){
  animation: swag1 0.3s;
  animation-fill-mode: forwards;
}
.mscb1:hover .dot1:nth-child(2){
  animation: swag2 0.3s;
  animation-fill-mode: forwards;
}
.mscb1:hover .dot1:nth-child(3){
  animation: swag3 0.3s;
  animation-fill-mode: forwards;
}
.mscb1:hover .dot1:nth-child(4){
  animation: swag4 0.3s;
  animation-fill-mode: forwards;
}
@keyframes intro {
   0% {
     opacity:0;
  }
  100% {
     opacity:1;
  }
}
@keyframes swag1 {
   0% {
     top:50px;
     left:50px;
     width:8px;
  }
  50% {
    width:30px;
    opacity:1;
  }
  100% {
     top:20px;
     left:20px;
     width:8px;
     opacity:1;
  }
}
@keyframes swag1-out {
   0% {
     top:20px;
     left:20px;
     width:8px;
  }
  50% {
     width:30px;
    opacity:1;
  }
  100% {
     top:50px;
     left:50px;
     width:8px;
    opacity:0;
  }
}
@keyframes swag2 {
   0% {
     top:50px;
     right:50px;
     width:8px;
  }
  50% {
    width:30px;
    opacity:1;
  }
  100% {
     top:20px;
     right:20px;
     width:8px;
     opacity:1;
  }
}
@keyframes swag2-out {
   0% {
     top:20px;
     right:20px;
     width:8px;
  }
  50% {
     width:30px;
    opacity:1;
  }
  100% {
     top:50px;
     right:50px;
     width:8px;
    opacity:0;
  }
}
@keyframes swag3 {
   0% {
     bottom:50px;
     left:50px;
     width:8px;
  }
  50% {
    width:30px;
    opacity:1;
  }
  100% {
     bottom:20px;
     left:20px;
     width:8px;
     opacity:1;
  }
}
@keyframes swag3-out {
   0% {
     bottom:20px;
     left:20px;
     width:8px;
  }
  50% {
     width:30px;
    opacity:1;
  }
  100% {
     bottom:50px;
     left:50px;
     width:8px;
    opacity:0;
  }
}
@keyframes swag4 {
   0% {
     bottom:50px;
     right:50px;
     width:8px;
  }
  50% {
    width:30px;
    opacity:1;
  }
  100% {
     bottom:20px;
     right:20px;
     width:8px;
     opacity:1;
  }
}
@keyframes swag4-out {
   0% {
     bottom:20px;
     right:20px;
     width:8px;
  }
  50% {
     width:30px;
    opacity:1;
  }
  100% {
     bottom:50px;
     right:50px;
     width:8px;
    opacity:0;
  }
}



#wrapper{
	position:absolute;
	top:8%;
	left:10%;
  width:1vw;
  height:1vh;
  box-sizing:border-box;
  display:flex;
  align-items:center;
  justify-content:center;

}
.dlt
{
	font-size:1rem;
	 
}

.mscb{
	 text-align: center;
  position:relative;
  text-decoration:none;
  color:#00ff00;
  letter-spacing:1px;
  font-size:2rem;
  box-sizing:border-box;
   
}
.mscb span{
  position:relative;
  box-sizing:border-box;
  display:flex;
  align-items:center;
  justify-content:center;
  width:100px;
  height:100px;
}
.mscb span:before{
  content:'';
  width:100%;
  height:100%;
  display:block;
  position:absolute;
  border-radius:100%;
  border:3px solid #F3CF14;
  box-sizing:border-box;
  transition: all .85s cubic-bezier(0.25, 1, 0.33, 1);
  box-shadow: 0 30px 85px rgba(0,0,0,0.14), 0 15px 35px rgba(0,0,0,0.14);
}
.mscb:hover span:before{
  transform:scale(0.8);
  box-shadow: 0 20px 55px rgba(0,0,0,0.14), 0 15px 35px rgba(0,0,0,0.14);
}
.mscb .dc{
  opacity:0;
  animation: intro 1.6s;
  animation-fill-mode: forwards;
}
.mscb .dot{
  width:8px;
  height:8px;
  display:block;
  background-color:#F3CF14;
  border-radius:100%;
  position:absolute;
  transition: all .85s cubic-bezier(0.25, 1, 0.33, 1);
}
.mscb .dot:nth-child(1){
  top:50px;
  left:50px;
  transform:rotate(-140deg);
  animation: swag1-out 0.3s;
  animation-fill-mode: forwards;
  opacity:0;
}
.mscb .dot:nth-child(2){
  top:50px;
  right:50px;
  transform:rotate(140deg);
  animation: swag2-out 0.3s;
  animation-fill-mode: forwards;
  opacity:0;
}
.mscb .dot:nth-child(3){
  bottom:50px;
  left:50px;
  transform:rotate(140deg);
  animation: swag3-out 0.3s;
  animation-fill-mode: forwards;
  opacity:0;
}
.mscb .dot:nth-child(4){
  bottom:50px;
  right:50px;
  transform:rotate(-140deg);
  animation: swag4-out 0.3s;
  animation-fill-mode: forwards;
  opacity:0;
}
.mscb:hover .dot:nth-child(1){
  animation: swag1 0.3s;
  animation-fill-mode: forwards;
}
.mscb:hover .dot:nth-child(2){
  animation: swag2 0.3s;
  animation-fill-mode: forwards;
}
.mscb:hover .dot:nth-child(3){
  animation: swag3 0.3s;
  animation-fill-mode: forwards;
}
.mscb:hover .dot:nth-child(4){
  animation: swag4 0.3s;
  animation-fill-mode: forwards;
}
@keyframes intro {
   0% {
     opacity:0;
  }
  100% {
     opacity:1;
  }
}
@keyframes swag1 {
   0% {
     top:50px;
     left:50px;
     width:8px;
  }
  50% {
    width:30px;
    opacity:1;
  }
  100% {
     top:20px;
     left:20px;
     width:8px;
     opacity:1;
  }
}
@keyframes swag1-out {
   0% {
     top:20px;
     left:20px;
     width:8px;
  }
  50% {
     width:30px;
    opacity:1;
  }
  100% {
     top:50px;
     left:50px;
     width:8px;
    opacity:0;
  }
}
@keyframes swag2 {
   0% {
     top:50px;
     right:50px;
     width:8px;
  }
  50% {
    width:30px;
    opacity:1;
  }
  100% {
     top:20px;
     right:20px;
     width:8px;
     opacity:1;
  }
}
@keyframes swag2-out {
   0% {
     top:20px;
     right:20px;
     width:8px;
  }
  50% {
     width:30px;
    opacity:1;
  }
  100% {
     top:50px;
     right:50px;
     width:8px;
    opacity:0;
  }
}
@keyframes swag3 {
   0% {
     bottom:50px;
     left:50px;
     width:8px;
  }
  50% {
    width:30px;
    opacity:1;
  }
  100% {
     bottom:20px;
     left:20px;
     width:8px;
     opacity:1;
  }
}
@keyframes swag3-out {
   0% {
     bottom:20px;
     left:20px;
     width:8px;
  }
  50% {
     width:30px;
    opacity:1;
  }
  100% {
     bottom:50px;
     left:50px;
     width:8px;
    opacity:0;
  }
}
@keyframes swag4 {
   0% {
     bottom:50px;
     right:50px;
     width:8px;
  }
  50% {
    width:30px;
    opacity:1;
  }
  100% {
     bottom:20px;
     right:20px;
     width:8px;
     opacity:1;
  }
}
@keyframes swag4-out {
   0% {
     bottom:20px;
     right:20px;
     width:8px;
  }
  50% {
     width:30px;
    opacity:1;
  }
  100% {
     bottom:50px;
     right:50px;
     width:8px;
    opacity:0;
  }
}




				#name
			{
				
				position:absolute;
				top:43%;
				left:0%;
				border:1px solid white;
				padding:10px;
				outline: none;
				background:none;
				color:white;
				font-size: 18px;
			}
			#cate
			{
				position:absolute;
				top:43%;
				left:35%;
				border:1px solid white;
				padding:10px;
				outline: none;
				background:none;
				color:white;
				font-size: 18px;
			}
			
			
			
			#sub1
			{
				position:absolute;
				top:53%;
				left:0%;
				border:1px solid white;
				padding:8px;
				outline: none;
				background:none;
				color:white;
				font-size: 18px;
			}
		
			#sub3
			{
				position:absolute;
				top:53%;
				left:22%;
				border:1px solid white;
				padding:8px;
				outline: none;
				background:none;
				color:white;
				font-size: 18px;
			}
					
			
			#sub2
			{
				position:absolute;
				top:53%;
				left:44%;
				border:1px solid white;
				padding:8px;
				outline: none;
				background:none;
				color:white;
				font-size: 18px;
			}
			
	
			
			
			
		#button1
			{
				position:absolute;
				top:55%;
				left:54%;
				transform:translate(-50%,-50%);
				background:none;
				color:#ccc;
				width: 240px;
				height:80px;
				border:1px solid blue;
				font-size: 18px;
				border-radius: 4px;
				transition: .6s;
				overflow: hidden;	
			}
		#button1:focus
			{
				outline: none;
			}

		#button1:before
			{
				content: '';
				display: block;
				position: absolute;
				background:yellow;
				width: 60px;
				left: 0;
				top: 0;
				opacity: .5s;
				filter: blur(30px);
				transform: translateX(-130px) skewX(-15deg);
			}
		#button1:after
			{
				content: '';
				display: block;
				position: absolute;
				background:blue;
				width: 30px;
				height: 100%;
				left: 30px;
				top: 0;
				opacity: .5s;
				filter: blur(30px);
				transform: translate(-100px) scaleX(-15deg);
			}
		#button1:hover
			{
				background:none;
				cursor: pointer;
			}

		#button1:hover:before
			{
				transform: translateX(-100px) skewX(-15deg);
				opacity: .6;
				transition: .7s
			}

		#button1:hover:after
			{
				transform: translateX(-100px) skewX(-15deg);
				opacity: 1;
				transition: .7s
				
			}
		
		.center
{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
input[type="checkbox"]
{
	position: relative;
	width: 120px;
	height: 40px;
	-webkit-appearance:none;
	background:linear-gradient(0deg,#333,#000);
	outline: none;
	border-radius: 20px;
	box-shadow: 0 0 0 4px #353535,0 0 0 5px #3e3e3e,inset 0 0 10px rgba(0,0,0,1),0 5px 20px rgba(0,0,0,.5),inset 0 0 15px rgba(0,0,0,.2);
}
input:checked[type="checkbox"]
{
	background:linear-gradient(0deg,#6dd1ff,#20b7ff);
	box-shadow: 0 0 2px #6dd1ff,0 0 0 4px #353535,0 0 0 5px #3e3e3e,inset 0 0 10px rgba(0,0,0,1),0 5px 20px rgba(0,0,0,.5),inset 0 0 15px rgba(0,0,0,.2);	

}
input[type="checkbox"]:before
{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 80px;
	height: 40px;
	background:linear-gradient(0deg,#000,#6b6b6b);
	border-radius: 20px;
	transform: scale(.98,.96);
	box-shadow: 0 0 0 1px #232323;
	transition: .5s;
}
input:checked[type="checkbox"]:before
{
	left: 40px;
}
input[type="checkbox"]:after
{
	content: '';
	position: absolute;
	top: calc(50%-2px);
	left:65px;
	width: 4px;
	height: 4px;
	background: linear-gradient(0deg,#6b6b6b,#000);
	border-radius: 50%;
	transition:.5s;

}
input:checked[type="checkbox"]:after
{
	background: #63cdff;
	left: 105px;
	box-shadow: 0 0 5px #13b3ff, 0 0 15px #13b3ff;
}