#bh{
	position:absolute;
	top:55%;
	left:25%;
}
#sr{
	position:absolute;
	top:55%;
	left:57%;
}
#nmm{
	position:absolute;
	top:45%;
	left:45%;
}
#cy{
	position:absolute;
	top:70%;
	left:29%;
}
#gr{
	position:absolute;
	top:70%;
	left:58%;
}

.yrr{
	position:absolute;
	top:72%;
	left:23.8%;
}